<div class="top-bar cf">
    <ul class="cf">
        <li class="<%= 'current-step' if @current_step == 0 %>">הקדמה<i class="fas fa-angle-left"></i></li>
        <li class="<%= 'current-step' if @current_step == 1 %>">מחשבון החזר מס<i class="fas fa-angle-left"></i></li>
        <li class="<%= 'current-step' if @current_step == 2 %>">הגשת בקשה להחזר<i class="fas fa-align-justify"></i></li>
        <li>054-4998253<i class="fas fa-phone-square contact"></i></li>
        <li>returny95@gmail.com<i class="fas fa-envelope-square contact"></i></li>
        <li>באמצעות אלעד פרידמן, רו"ח מוסמך<a href="https://www.linkedin.com/in/elad-friedman-7484b582"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" hight="14px" width="14px" class="contact"></img></a></li>
    </ul>
</div>

