<form class="calculator-wrapper" method="post">
    <%= token_tag %> 
    <div class="section">
        <p>מין</p>
        <a class="selection-btn js-single-selection" data-option="male">זכר</a>
        <a class="selection-btn js-single-selection" data-option="female">נקבה</a>
        <input type="text" name="gender" hidden>
    </div>
    <div class="section">
        <p>תושב ישראל?</p>
        <a class="selection-btn js-single-selection" data-option="true">כן</a>
        <a class="selection-btn js-single-selection" data-option="false">לא</a>
        <input type="text" name="israel_citizen" hidden>
    </div>
    <div class="section">
        <p>מצב משפחתי</p>
        <a class="selection-btn js-single-selection" data-option="single">רווק</a>
        <a class="selection-btn js-single-selection" data-option="married">נשוי</a>
        <input type="text" name="relationship_status" hidden>
    </div>
    <div class="section js-children-section" hidden>
        <p>האם יש לך ילדים?</p>
        <a class="selection-btn js-single-selection" data-option="true">כן</a>
        <a class="selection-btn js-single-selection" data-option="false">לא</a>
        <input type="text" name="has_children" hidden>
    </div>
    <div class="section js-children-count-section" hidden>
        <p>תאריכי לידה</p>
        <table class="js-children-dates-table">
            <tr>
                <td>1</td>
                <td><input type="date" name="child_birth_date[]"></td>
            </tr>
        </table>
        <a class="selection-btn js-add-child plus-sign">+</a>
    </div>
    <div class="section js-military-service-section">
        <p>האם שירתת בצבא או בשירות לאומי?</p>
        <a class="selection-btn js-single-selection" data-option="none">לא</a>
        <a class="selection-btn js-single-selection" data-option="military">שירות צבאי</a>
        <a class="selection-btn js-single-selection" data-option="social_service">שירות לאומי</a>
        <input type="text" name="military_service" hidden>
    </div>
    <div class="section js-military-release-date" hidden>
        <p>תאריך שחרור</p>
        <input type="date" name="military_release_date">
    </div>
    <div class="section js-military-service-duration" hidden>
        <p>אורך השירות בחודשים</p>
        <input type="number" name="military_service_duration">
    </div>
    <div class="section js-education">
        <p>השכלה אקדמאית</p>
        <a class="selection-btn js-single-selection" data-option="none">ללא תואר</a>
        <a class="selection-btn js-single-selection" data-option="first_degree">תואר ראשון</a>
        <a class="selection-btn js-single-selection" data-option="second_degree">תואר שני</a>
        <input type="text" name="education" hidden>
    </div>
    <div class="section js-first-degree-date" hidden>
        <p>תאריך סיום תואר ראשון</p>
        <input type="date" name="first_degree_end_date">
        <div class="small-section">
            <a class="selection-btn selection-btn-small js-single-selection" data-option="false">לא נדרשו הטבות בעבר</a>
            <a class="selection-btn selection-btn-small js-single-selection" data-option="true">נדרשו הטבות בעבר</a>
            <input type="text" name="first_degree_benefits_claimed" hidden>
        </div>
    </div>
    <div class="section js-second-degree-date" hidden>
        <p>תאריך סיום תואר שני</p>
        <input type="date" name="second_degree_end_date">
        <div class="small-section">
            <a class="selection-btn selection-btn-small js-single-selection" data-option="false">לא נדרשו הטבות בעבר</a>
            <a class="selection-btn selection-btn-small js-single-selection" data-option="true">נדרשו הטבות בעבר</a>
            <input type="text" name="second_degree_benefits_claimed" hidden>
        </div>
    </div>
    <input type="submit" value="אישור" class="selection-btn submit-btn">
</form>