<div class="header">
    <h1>Returny<br>החזרי מס לשכיר בקליק</h1>
</div>

<div class="standard-container introduction-wrapper">
<p><i class="fas fa-chevron-circle-left"></i><b>מי זכאי להחזר מס?										</b><br>
כ80% מהשכירים בישראל זכאים להחזר מס. 								<br>
מרבית הזכאים כלל לא מודעים לכך מכיוון שמס הכנסה לא מעדכן מיוזמתו במצב של תשלום מס עודף. 			
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>ממה יכולה להיווצר זכאות להחזר מס?		</b><br>
כאשר מס ההכנסה שמנוכה בתלוש השכר גבוה מהמס האמיתי לתשלום (מצב של תשלום מס עודף).				
תשלום מס עודף יכול לנבוע ממקרים שונים ביניהם טעויות במערכת השכר, שינוי במצב המשפחתי, מעבר בין עבודות ועוד.		<br>
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>עד מתי ניתן להגיש בקשה להחזר מס?								</b><br>
ניתן להגיש בקשה להחזר מס עד 6 שנים מתום שנת המס עבורה מבוקש ההחזר.<br>
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>איך מבקשים החזר מס?									</b><br>
יש למלא טופס בקשה ולהגישו למס הכנסה בצירוף מסמכים נלווים לאימות הנתונים שהוצגו.				<br>
אין חובה להסתייע באיש מקצוע להגשת הבקשה אך רצוי לעשות זאת למניעת טעויות ומקסום סכום ההחזר.			<br>
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>איך מתקבל ההחזר?										</b><br>
ההחזר מועבר ישירות לחשבון הבנק של מגיש הבקשה, בד"כ תוך עד 90 יום מהגשת הבקשה להחזר (בהנחה שהוגשה בשלמותה).	<br>
</p>

<p class="no-margin">
    <i class="fas fa-chevron-circle-left"></i><b>למה שאעזר דווקא בכם בהגשת הבקשה?								</b><br>
</p>
    <ul>
        <li><i class="fas fa-check"></i>
            אנחנו מקצועיים ומכירים את תקנות מס הכנסה על בוריין.			
        </li>
        <li><i class="fas fa-check"></i>
            אחרים לוקחים עמלת פתיחת תיק של כמה מאות שקלים + 20% מההחזר לפני מע"מ. אנחנו נגבה ממך 17.5% מההחזר אחרי מע"מ בלבד.
        </li>
        <li><i class="fas fa-check"></i>
            אחרים שואלים שאלות כלליות ולא נותנים תוצאה חישובית טרם השארת פרטים. אצלנו תקבל חישוב מדוייק במספר דקות.
        </li>
    </ul>
    
    <a class="selection-btn submit-btn" href="/calculator">לבדיקת זכאותך להחזר מס לחץ כאן  <i class="fas fa-angle-double-left"></i></a>
    
    <p>&copy; כל הזכויות שמורות ל-Returny</p>

</div>