<div class="header">
    <h1>תנאי שימוש</h1>
</div>

<div class="standard-container introduction-wrapper">
<p><i class="fas fa-chevron-circle-left"></i><b>השירות											</b></br>
חברת Returny ("נותנת השירות") תסייע ללקוח ("הלקוח") במילוי הטופס להחזר המס ובהגשתו לרשויות המס וכן תלווה את הלקוח ותייעץ לאורך כל התהליך מרגע הגשת הבקשה ועד לקבלת החזר המס לחשבון הבנק של הלקוח.
נותנת השירות מספקת את השירות ללא קבלת אחריות לתוצאות מילוי הטפסים ו/או הגשתם. נותנת השירות תמלא את הטפסים הנדרשים והלקוח לאחר חתימה עליהם יהיה אחראי לנכונותם.	
נותנת השירות אינה פועלת כ"מייצגת" או "מסייעת" ו/או מיופת כוח מול רשויות המס. 								
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>התמורה											</b></br>
עלות השירות: נותנת השירות תהה זכאית ל15% (כולל מע"מ) מסך החזר המס הצפוי כפי שחושב על ידי מחשבון חישוב ההחזר ("התוכנה") באתר.					
במידה וההחזר שיתקבל לחשבון הבנק בפועל יהיה גבוה מהחזר המס הצפוי שחושב, ההפרש בין ההחזר בפועל לבין ההחזר שחושב על ידי התוכנה ישאר אצל הלקוח.			
במידה וההחזר שיתקבל לחשבון הבנק בפועל יהיה נמוך מהחזר המס הצפוי שחושב, ההפרש ששולם ביתר יוחזר לחשבון הלקוח.						
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>תנאי התשלום</b></br>
במועד החתימה על טופס בקשת ההחזר יינתן על ידי הלקוח צ'ק דחוי לפרעון כעבור ארבעה חודשים על סך 15% (כולל מע"מ) מהחזר המס הצפוי שחושב על ידי התוכנה. 
נותנת השירות מתחייבת לא להפקיד את הצ'ק עד קבלת החזר המס בפועל לחשבון הלקוח. הלקוח מתחייב להודיע על קבלת ההחזר לחשבון תוך 5 ימים ממועד קבלת ההחזר.הפרשים יחולקו בהתאם למוסבר בסעיף התמורה. 
לדוגמא: במצב בו התוכנה חישבה החזר מס צפוי של 5,000 ₪, במועד הגשת הבקשה (נניח 1.8.2018) ייימסר על ידי הלקוח צ'ק דחוי לפרעון כעבור 4 חודשים (ל1.12.2018) על סך 750 ₪.	
במידה וההחזר שהתקבל בפועל הינו 5,500 ₪, נותנת השירות תפקיד את הצ'ק ובזאת תמו המחוייבויות בין הצדדים.							
במידה וההחזר שהתקבל בפועל הינו 4,500 ₪, נותנת השירות תפקיד את הצ'ק ותחזיר לחשבון הלקוח בהעברה בנקאית את ההפרש (75 ₪).					
במידה ולא יתקבל החזר המס מכל סיבה שהיא לא תישא נותנת השירות אחריות כלשהיא אך הצ'ק שנתן הלקוח יבוטל ללא הפקדה מצד נותנת השירות.				
הלקוח מתחייב להעביר את התמורה במלואה בהתאם ללוחות הזמנים המצוינים וכן להציג לנותנת השירות כל מסמך שתקבל מרשויות המס הקשור לתהליך החזר המס.			
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>אחריות ושיפוי</b></br>
נותנת השירות איננה ולא תהיה אחראית לכל נזק מכל מין וסוג, לרבות נזקים תוצאתיים ועקיפים אשר יגרמו ללקוח או לצדדים שלישיים באופן ישיר ו/או עקיף בקשר עם השירותים. 		
כחלק מההתקשרות, הלקוח מצהיר כי המידע שנמסר על ידו במילוי השאלון ובהגשת טפסי ההחזר הוא מידע מלא נכון ומדוייק.						
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>קניין רוחני											</b></br>
האתר, התוכנה וכן כל זכויות הקניין הרוחני הנלוות והקשורות אליהם, לרבות המצאות, פטנטים ובקשות לפטנטים, סימני מסחר, שמות מסחר, לוגו, טקסטים, תהליכים, אלגוריתמים, בין אם רשומים או ניתנים לרישום ובין אם לאו, שייכים לנותנת השירות ומוגנים בזכויות יוצרים וזכויות קניין רוחני לפי דיני ישראל או כל דין רלוונטי אחר
אין לבצע ו/או לנסות לבצע בדיקות של מחשבון החזר המס, להעתיק, לשנות, להציג בפומבי או להפיץ, לעשות פעולה של הנדסה הפוכה, בכל דרך שהיא.				
</p>

<p><i class="fas fa-chevron-circle-left"></i><b>סודיות											</b></br>
נותנת השירות מתחייבת בזאת לשמור בסודיות מוחלטת ולא לגלות, להעביר,למסור או להביא לידיעת צד ג' כלשהו בין במישרין ובין בעקיפין, כל מידע שהגיע אליה מהלקוח לצורך מתן השירותים. 	
</p>


<p><i class="fas fa-chevron-circle-left"></i><b>שונות											</b></br>
הצדדים מאשרים בזאת כי תנאי שימוש אלו מהווים הסכם המגבש נכון את כל חיוביהם וזכויותיהם האחד כלפי רעהו בקשר לכל דבר ועניין.					
אישור תנאי השימוש מהווה הוראה בהתחלת תהליך הכנת בקשת החזר המס והתחייבות מצד הלקוח לסיים את התהליך בשלמותו עם נותנת השירות.
</p>

<a class="selection-btn submit-btn selection-btn-wide"
href="mailto:returny95@gmail.com?subject=<%= @subject %>&body=<%= @body %>">
אני מאשר את תנאי השימוש ומעוניין להתקדם לקבלת ההחזר <i class="fas fa-angle-double-left"></i></a>

<p>&copy; כל הזכויות שמורות ל-Returny</p>